.plano-vip {
  border: 2px solid red;
  border-radius: 20px;
  padding: 20px;
  margin: 20px auto;
  max-width: 400px;
  background: #1a1a1a;
  box-shadow: 0 0 10px rgba(255,0,0,0.4);
  color: white;
  font-size: 22px;
  text-align: center;
}

.plano-vip h2 {
  color: #ff3c3c;
  font-size: 30px;
  margin-bottom: 10px;
}

.plano-vip p {
  font-size: 20px;
  color: #ccc;
}

.plano-vip strong {
  font-size: 24px;
  color: #00ff88;
}
body { background: #111; color: white; font-family: Arial; text-align: center; margin: 0; }
header { background: #222; padding: 20px; }
h1 { margin: 0; color: red; }
.vip-button { background: red; color: white; padding: 10px; text-decoration: none; border-radius: 8px; }
.vip-planos { display: flex; justify-content: center; flex-wrap: wrap; padding: 20px; gap: 20px; }
.plano { background: #222; padding: 20px; border-radius: 12px; width: 250px; box-shadow: 0 0 10px red; }
button { padding: 10px 15px; background: red; color: white; border: none; border-radius: 6px; cursor: pointer; }
