body {
  background: #0c0c0c;
  color: #eee;
  font-family: 'Arial', sans-serif;
  text-align: center;
  padding: 20px;
}
.logo {
  width: 80px;
}
header h1 {
  color: #e63946;
  font-size: 28px;
}
select, input, button {
  padding: 10px;
  margin: 5px;
  border-radius: 8px;
}
#painel-sinais {
  margin-top: 20px;
  font-size: 18px;
}
.vela-fraca { color: #aaa; }
.vela-2x { color: #ffd700; }         /* Amarelo */
.vela-alta { color: #ff5733; }       /* Vermelho */
.vela-muito-alta { color: #ff8800; } /* Laranja */
button {
  background-color: #e63946;
  color: white;
  border: none;
  cursor: pointer;
}
#contador {
  font-size: 20px;
  margin: 10px 0;
  color: #0f0;
  font-weight: bold;
}
