body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #000;
  color: #fff;
}

header {
  background-color: #111;
  padding: 20px;
  text-align: center;
  border-bottom: 2px solid red;
}

main {
  padding: 20px;
}

#plataformas {
  margin-bottom: 20px;
}

#sinais-container {
  background-color: #111;
  padding: 15px;
  border: 1px solid red;
  border-radius: 10px;
  min-height: 100px;
}

footer {
  text-align: center;
  padding: 15px;
  background-color: #111;
  border-top: 1px solid #333;
}

a {
  color: red;
  font-weight: bold;
  text-decoration: none;
}
